{% extends 'base.html.twig' %}

{% block title %}Edit Profile
{% endblock %}

{% block body %}
	<div class="container d-flex justify-content-center px-0">
		<div class="card shadow rounded-3 col-lg-5 d-flex flex-column gap-2">
			<div class="card-header p-4 h4">
				Edit Profile
			</div>

			<div class="card-body p-4">
				{{ include('profile/_form.html.twig', {'button_label': 'Update'}) }}
			</div>

			<div class="card-footer p-3">
				<button class="btn btn-primary">
					<a href="{{ path('app_profile_show', {'id': user.id}) }}" class="text-decoration-none text-light">Back to user</a>
				</button>
			</div>
		</div>
	</div>
{% endblock %}
