{% extends 'base.html.twig' %}

{% block title %}Admin index{% endblock %}

{% block body %}
    <h1>Users management</h1>
     <a href="{{ path('app_user_index') }}">Manage Users</a>

    <h1>Articles management</h1>

    <a href="{{ path('app_articles_index') }}">Manage Articles</a>

    <h1>Comments management</h1>

        <a href="{{ path('app_comments_index') }}">Manage Comments</a>
{% endblock %}