{% extends 'base.html.twig' %}

{% block title %}New Categories
{% endblock %}

{% block body %}
	<div class="container d-flex px-0">
		<div class="card shadow rounded-3 d-flex flex-column gap-2 w-100">
			<div class="card-header p-4 h4">
				Create new Categories
			</div>

			<div class="card-body p-4">
				{{ include('categories/_form.html.twig') }}
			</div>

			<div class="card-footer p-3">
				<button class="btn btn-primary">
					<a href="{{ path('app_categories_index') }}" class="text-decoration-none text-light">Back to list</a>
				</button>
			</div>
		</div>
	</div>
{% endblock %}
