{% extends 'base.html.twig' %}

{% block title %}Articles index
{% endblock %}

{% block body %}
	{# Last article #}
	<div></div>

	<div class="d-flex justify-content-center align-items-center">
		<div class="all-articles border-top border-black border-2 d-flex flex-column justify-content-center align-items-center gap-4">
			<h2>All articles</h2>

			<div class="d-flex justify-content-between flex-wrap gap-4">
				{% for article in articles %}
					<div class="article">
						<a href="{{ path('app_articles_show', {'id': article.id}) }}" class="text-decoration-none">
							<div class="bg-dark	article-thumbnail">IMG HERE</div>
							<p class="mb-0 mt-3 text-black text-center">{{ article.title }}</p>
						</a>
					</div>
				{% else %}
					<p>Pas encore d'articles</p>
				{% endfor %}
			</div>

			<a href="#">Voir tous les articles</a>
		</div>
	</div>
</div>{% endblock %}
