.header {
  height: 6.5rem;
  margin-bottom: 3.75rem;
  padding: 0 1rem;

  @media screen and (min-width: 768px) {
    padding: 0 2rem;
  }

  @media screen and (min-width: 1024px) {
    padding: 0 4rem;
  }

  .header-navbar {
    height: 100%;

    .header-navbar-container,
    .header-ul-container,
    .header-ul,
    li {
      height: 100%;
      position: relative;

      .header-links {
        &::before {
          content: '';
          position: absolute;
          bottom: 0;
          height: 2px;
          width: 0;
          background: black;
          transition: width 0.25s ease-in-out;
        }

        &:hover::before {
          width: 100%;
        }
      }

      .active {
        &::before {
          content: '';
          position: absolute;
          bottom: 0;
          height: 2px;
          width: 100% !important;
          background: black;
        }
      }
    }
  }
}

.footer {
  gap: 5rem;
  margin-top: 7.5rem;

  .footer-banner {
    width: 105%;

    p {
      margin-bottom: 0;
      font-size: 1.25rem;
    }
  }

  .footer-bottom {
    gap: 1rem;

    .footer-paragraph {
      max-width: 18.75rem;
    }

    .footer-small-text {
      font-size: 0.75rem;
    }

    .footer-large-text {
      font-size: 1.5rem;
    }
  }
}

.articles-container {
  min-height: 100vh;
  padding: 0 1rem;

  @media screen and (min-width: 768px) {
    padding: 0 2rem;
  }

  @media screen and (min-width: 1024px) {
    padding: 0 4rem;
  }

  .last-article {
    width: 100%;
    margin-bottom: 2rem;

    @media screen and (min-width: 425px) {
      width: 75%;
    }

    @media screen and (min-width: 768px) {
      width: 65%;
      max-width: 50rem;
    }

    .last-article-article {
      width: 100%;

      .last-article-thumbnail {
        height: 10rem;
        width: 100%;

        @media screen and (min-width: 768px) {
          height: 15rem;
        }

        @media screen and (min-width: 1024px) {
          height: 25rem;
        }
      }

      .last-article-title {
        font-size: 1rem;

        @media screen and (min-width: 1024px) {
          font-size: 2.5rem;
        }
      }
    }
  }

  .all-articles {
    max-width: 34.375rem;

    h2 {
      margin-top: 4rem;
    }

    .article {
      width: 100%;

      @media screen and (min-width: 425px) {
        width: 75%;
      }

      @media screen and (min-width: 768px) {
        width: 65%;
        max-width: 16.40625rem;
      }

      .article-thumbnail {
        height: 10rem;
        width: 100%;
      }
    }
  }
}