.header {
  height: 6.5rem;
  margin-bottom: 3.75rem;
  padding: 0 1rem;

  @media screen and (min-width: 768px) {
    padding: 0 2rem;
  }

  @media screen and (min-width: 1024px) {
    padding: 0 4rem;
  }

  .header-navbar {
    height: 100%;

    .header-navbar-container,
    .header-ul-container,
    .header-ul,
    li {
      height: 100%;
      position: relative;

      .header-links {
        &::before {
          content: '';
          position: absolute;
          bottom: 0;
          height: 2px;
          width: 0;
          background: black;
          transition: width 0.25s ease-in-out;
        }

        &:hover::before {
          width: 100%;
        }
      }

      .active {
        &::before {
          content: '';
          position: absolute;
          bottom: 0;
          height: 2px;
          width: 100% !important;
          background: black;
        }
      }
    }
  }
}

.footer {
  gap: 5rem;
  margin-top: 7.5rem;

  .footer-banner {
    position: relative;
    width: 100%;
    padding-top: 2rem;
    overflow: hidden;

    .footer-banner-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 105%;
      height: 100%;
    }

    p {
      margin-bottom: 0;
      width: auto;
      font-size: 1.25rem;
    }
  }

  .footer-bottom {
    gap: 1rem;

    .footer-paragraph {
      max-width: 18.75rem;
    }

    .footer-small-text {
      font-size: 0.75rem;
    }

    .footer-large-text {
      font-size: 1.5rem;
    }
  }
}

.articles-container {
  min-height: 100vh;
  padding: 0 1rem;

  @media screen and (min-width: 768px) {
    padding: 0 2rem;
  }

  @media screen and (min-width: 1024px) {
    padding: 0 4rem;
  }

  .last-article {
    width: 100%;
    margin-bottom: 2rem;
    border: 3px solid transparent;
    transition: 0.25s ease-in-out;

    @media screen and (min-width: 425px) {
      width: 75%;
    }

    @media screen and (min-width: 768px) {
      width: 65%;
      max-width: 50rem;
    }

    &:hover {
      border: 3px solid black;
    }

    .last-article-article {
      width: 100%;

      .last-article-thumbnail {
        height: 10rem;
        width: 100%;

        @media screen and (min-width: 768px) {
          height: 15rem;
        }

        @media screen and (min-width: 1024px) {
          height: 25rem;
        }
      }

      .last-article-title {
        font-size: 1rem;

        @media screen and (min-width: 1024px) {
          font-size: 2.5rem;
        }
      }
    }
  }

  .all-articles {
    max-width: 34.375rem;

    h2 {
      margin-top: 4rem;
    }

    .article {
      width: 100%;

      @media screen and (min-width: 425px) {
        width: 75%;
      }

      @media screen and (min-width: 768px) {
        width: 65%;
        max-width: 16.40625rem;
      }

      .article-thumbnail {
        height: 10rem;
        width: 100%;
      }
    }
  }
}

.search-results-container {
  position: absolute;
  top: calc(100% + 10px); /* Décalage par rapport à la barre de recherche */
  left: 0;
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 999; /* Assurez-vous que les résultats s'affichent au-dessus des autres éléments */
}

.search-result {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.search-result:last-child {
  border-bottom: none; 
}